body, .formLabels {
	margin: 0 !important;
}

body h2{
	text-align: center;
}

label, input {
	margin: 2px 0px 2px 0px 
}

.formWrapper {
	width: 50%;
	margin: 0% 25% 0 25%;
}

.formLabels {
	display: inline-block;
	width: 150px;
	text-align: right;
	font-weight: bold;
}
